{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href='{% static "css/main.css" %}' />
        <script src='{% static "js/jquery-3.3.1.min.js" %}' ></script>
        <meta charset="UTF-8">
        <title>Watcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Watcher">
    </head>

    <header>
        <div class="menu_box">
            <a href="/"><img class="logo1" src="{% static 'images/star1_w_smallv2.png' %}" /></a>
            <h1><a class="title" href="/">Watcher</a></h1>
            <div class="menu">
                <ul>
                    <li><a class="but" href="/">Dashbord</a></li>
                    <li><a class="but up" href="/upload">Upload</a></li>
                </ul>
            </div>
            <li><a class="sign but" href="#">Sign in</a></li>
        </div>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Ceiling cat™® :3</p>
    </footer>
</html>