{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href='{% static "css/main.css" %}' />
        <meta charset="UTF-8">
        <title>Watcher Star</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Watcher Star">
    </head>

    <header>
        <div class="menu_box">
            <a href="/"><img class="logo1" src="{% static 'images/star1_w_smallv2.png' %}" /></a>
            <h1><a href="/">Watcher Star</a></h1>
            <div class="menu">
                <ul>
                    <li><a href="#">Dashbord</a></li>
                    <li id="up"><a href="{% url '/upload_json' %}">Upload</a></li>
                </ul>
            </div>
            <li><a class="sign" href="#">Sign in</a></li>
        </div>
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <p>Ceiling cat™® :3</p>
    </footer>
</html>