{% extends "base.html" %}
{% block content %}
<body>
<div class="upload_file">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="but up" type="submit">Upload</button>
    </form>
</div>
<div class="upload_list">
    <h3>Загруженные файлы:</h3>
    <ul>
        {% for obj in documents %}
        <li class="li_list">
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>{{ obj.uploaded_at }}</small>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
{% endblock %}