{% extends "base.html" %}
{% load static %}
{% block content %}
<script src='{% static "js/jquery-3.3.1.min.js" %}' ></script>
<body>
<div class="upload_file">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="but up upfile" type="submit">Загрузить</button>
    </form>
</div>
<div class="upload_list">
    <h3>Загруженные файлы:</h3>
    <ul>
        {% for obj in documents %}
        <li class="li_list">
            <a class="a_list" href="{{ obj.document.url }}">{{ obj.document.name }}<small>({{ obj.uploaded_at }})</small></a>
            {% if user.is_staff %}
                <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="document" value="{{ obj.pk }}" />
                    <input class="delete_file" type="image" src="{% static 'images/close.png' %}" value="Delete" />
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
{% endblock %}