{% extends "base.html" %}
{% block content %}
<body>
<div>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="but up" type="submit">Upload</button>
    </form>
</div>
<div>
    <p>Uploaded files:</p>
    <ul>
        {% for obj in documents %}
        <li>
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
{% endblock %}